﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Про книгарню", "About", "Home")</li>
            <li>@Html.ActionLink("Про автора", "Contact", "Home")</li>
            <li>@Html.ActionLink("Студенти", "Students", "Home")</li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
