﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<address>
    Lt. Dneprov Street<br />
    Kremenchug, Poltavka oblast 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0992447050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yurij.svichesnkij@gmail.com">yurij.svichesnkij@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yurij.svichesnkij@gmail.com">yurij.svichesnkij@gmail.com</a>
</address>