﻿@model BookStore.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Нова книга</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Назва книги")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Author, "Автор")
    <br />
    @Html.EditorFor(model => model.Author)
    <br /><br />
    @Html.LabelFor(model => model.Price, "Ціна")
    <br />
    @Html.EditorFor(model => model.Price)
    <br /><br />
    @Html.LabelFor(model => model.Language, "Мова книги")
    <br />
    @Html.EditorFor(model => model.Language)
    <br /><br />
    <input type="submit" value="Додати" />
}