﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книгарня</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <fieldset>
                <p>
                    @Html.Editor("bookName")
                </p>
                <p><input type="submit" value="Пошук за назвою" /></p>
            </fieldset>
        }
    </div>
    <div>
        <h3>Розпродаж книг</h3>
        <p><a href="/Home/Create">Додати</a></p>
        <table>
            <tr>
                <td><p>Назва книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Ціна</p></td>
                <td><p>Мова</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (BookStore.Models.Book b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Language</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Придбати</a></p></td>
                    <td><p><a href="/Home/Author/@b.Id">Про автора книги</a></p></td>
                    <td><p><a href="/Home/Delete/@b.Id">Видалити</a></p></td>
                    <td><p><a href="/Home/EditBook/@b.Id">Редагувати</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
