﻿@model IEnumerable<BookStore.Models.Student>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefomance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prefomance)
        </td>
        <td>
            @Html.ActionLink("Productivity", "StudentProductivity", new { id=item.Id })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.Partial("StudentProductivity", item)
        </td>
    </tr>
}
</table>
