﻿@model BookStore.Models.Student

<div>
    <h4>Student Perfomance (from pratial view)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prefomance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefomance)
        </dd>

    </dl>
</div>
